
html, body {
    padding: 0px;
    margin: 0px;
    font-family: PingFangSC, PingFangSC-Regular, "MicrosoftYaHei";
    /*overflow: hidden;*/
    width: 100%;
    /*height: 100%;*/
    background: rgba(245, 245, 245, 1);
    font-size: 14px;
    overflow-x: hidden;
}

/* mask and new window */
.wrapper-mask {
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    /*height: 100%;*/
    /*display: flex;*/
    align-items: stretch;
}

.layout-all-row {
    width: 100%;
    /*background: white;*/
    background: rgba(245, 245, 245, 1);;
    display: flex;
    /*align-items: stretch;*/
    overflow: hidden;
    flex-shrink: 0;
}

.item-row {
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 44px;
    cursor: pointer;
}

/*.item-row:hover{*/
/*background: rgba(255, 255, 255, 0.2);*/
/*}*/

.item-row:active {
    background: rgba(255, 255, 255, 0.2);
}

.item-bottom {
    background: rgba(245, 245, 245, 1);
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 25px;
}

.item-header {
    width: 50px;
    height: 50px;
}

.site-manage-image {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 16px;
    /*border-radius: 50%;*/
}

.site-logo-image {
    margin-top: 7px;
    width: 30px;
    height: 30px;
    /*margin-top: 5px;*/
    /*margin-bottom: 7px;*/
    /*border-radius: 50%;*/
    cursor: pointer;
}

.site-image {
    margin-top: 7px;
    width: 30px;
    height: 30px;
    /*margin-top: 5px;*/
    /*margin-bottom: 7px;*/
    /*border-radius: 50%;*/
    cursor: pointer;
}

.item-body {
    width: 100%;
    height: 44px;
    /*margin-left: 1rem;*/
    /*margin-top: 5px;*/
    flex-direction: row;
    vertical-align: middle;
}

.list-item-center {
    width: 100%;
    /*height: 11rem;*/
    /*background: rgba(255, 255, 255, 1);*/
    padding-bottom: 11px;
    /*padding-left: 1rem;*/

}

.item-body-display {
    display: flex;
    justify-content: space-between;
    line-height: 44px;
    height: 44px;
    display: flex;
    align-items: center;
}

.item-body-tail {
    text-align: center;
    margin-right: 10px;
    /*margin-bottom: 10px;*/
    font-size: 16px;
    display: flex;
    line-height: 44px;
    /*vertical-align: middle;*/
    justify-content: center; /*x轴对齐方式*/
    align-items: center; /*y轴对滴方式*/
    max-width: 70%;
    overflow: hidden;
}

.item-body-desc {
    font-size: 16px;
    margin-left: 10px;
    line-height: 44px;
    height: 44px;
    justify-content: center; /*x轴对齐方式*/
    align-items: center; /*y轴对滴方式*/
}

.item-body-value {
    margin-left: 5px;
    line-height: 44px;
    justify-content: center; /*x轴对齐方式*/
    align-items: center; /*y轴对滴方式*/
}

.item-body-value-more {
    margin-left: 5px;
    line-height: 44px;
    /*margin-top: 7px;*/
}

.more-img {
    width: 8px;
    height: 13px;
    line-height: 44px;
}

.line {
    width: 250px;
    height: 1px;
    background: rgba(201, 201, 201, 1);
    border: 0.1px solid rgba(201, 201, 201, 1);
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.division-line {
    height: 1px;
    background: rgba(243, 243, 243, 1);
    margin-left: 40px;
    overflow: hidden;
}

#popup-group {
    width: 320px;
    height: 300px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.header_tip_font {
    justify-content: center;
    text-align: center;
    margin-top: 29px;
    height: 24px;
    font-size: 24px;
    font-weight: bold;
    color: #4C3BB1;
    font-family: PingFangSC;
    /*line-height: 3.75rem;*/
}

.popup-group-input {
    background-color: #ffffff;
    border-style: none;
    outline: none;
    /*height: 1.88rem;*/
    font-size: 20px;
    font-family: PingFangSC-Regular;
    /*color: rgba(205, 205, 205, 1);*/
    line-height: 20px;
    margin-top: 65px;
    width: 250px;
    height: 25px;
    overflow: hidden;
}

.plugin-add-input {
    background-color: #ffffff;
    border-style: none;
    outline: none;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    /*color: rgba(205, 205, 205, 1);*/
    /*line-height: 1.88rem;*/
    /*margin-left: 10rem;*/
    padding: 0.5rem;
    width: 200px;
    height: 20px;
    overflow: hidden;
    text-align: right;
}

.data_tip {
    height: 1.69rem;
    font-size: 1.31rem;
    font-family: PingFangSC-Regular;
    color: rgba(153, 153, 153, 1);
    line-height: 1.69rem;
    margin-left: 23rem;
    width: 29rem;
    word-break: break-all;
    padding: 0.5rem;
}

.create_button,
.create_button:hover,
.create_button:focus,
.create_button:active {
    margin-top: 45px;
    width: 250px;
    height: 50px;
    background: rgba(76, 59, 177, 1);
    border-width: 0px;
    border-radius: 7px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    outline: none;
    cursor: pointer;
}

.weui_switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 52px;
    height: 32px;
    border: 1px solid #DFDFDF;
    outline: 0;
    border-radius: 16px;
    box-sizing: border-box;
    background: #DFDFDF;
    margin-top: 7px;
}

.weui_switch:checked {
    border-color: #4C3BB1;
    /*">#04BE02;*/
    background-color: #4C3BB1;
}

.weui_switch:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #FDFDFD;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.weui_switch:checked:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.weui_switch:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.weui_switch:checked:after {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}

.select-color-primary {
    color: #4C3BB1;
}

.main-color {
    color: #4C3BB1;
}
.font-size-12 {
    font-size: 12px;
    overflow: hidden;
}